project = ""
region = ""
zone = ""
startup_scripts = {
  nat = "sudo sysctl -w net.ipv4.ip_forward=1; sudo iptables -t nat -A POSTROUTING -o ens4 -j MASQUERADE; cd /home/ubuntu/; git clone https://github.com/andela-ifatoki/db-lms.git; cd db-lms; . setup_haproxy.sh"
  master = "cd /home/ubuntu/; git clone https://github.com/andela-ifatoki/db-lms.git; cd db-lms; . setup_postgres_master.sh <password> <slave-cluster-ip-range>"
  slave = "cd /home/ubuntu/; git clone https://github.com/andela-ifatoki/db-lms.git; cd db-lms;"
}
subnet_cidrs = {
  private = "10.0.0.0/27"
  public = "10.0.0.32/29"
}
static_ips = {
  ip_master = "10.0.0.3"
  ip_slave_1 = "10.0.0.4"
  ip_slave_2 = "10.0.0.5"
}